#info-weather {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: 100%;
  gap: 2em;

  color: white;
}

#current_weather {
  /* background: url("/assets/backgrounds/clear-day.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  flex: 1;
  border-radius: 10px;
  padding: 1em;
  color: white; /* Color del texto */
  position: relative; /* Necesario para el pseudo-elemento */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Sombra de texto */
}

#current_weather img {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
}

#current_weather::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* Fondo negro semi-transparente */
  border-radius: 10px; /* Para coincidir con el borde del div */
  z-index: 1;
}

#current_weather > * {
  position: relative;
  z-index: 2; /* Asegura que el contenido esté encima del fondo semi-transparente */
  filter: none;
}

#current_weather .location {
  display: flex;
  align-items: center;
  font-size: 2rem;

  margin-bottom: 1em;
}

#current_weather .location > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Número de líneas a mostrar */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es truncado */
  max-width: 100%; /* Ancho máximo al 100% del contenedor padre */
}

#current_weather img {
  width: 6em;
}

#current_weather > .location > svg {
  color: rgb(223, 25, 25);
  width: 2rem;
  height: auto;
}

#current_weather .weather {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

#current_weather .weather > .temperature {
  display: flex;
}

#current_weather .weather > .conditions {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}

#current_weather .extra_conditions {
  display: flex;
}

#current_weather .extra_conditions > p {
  margin-right: 1em;
  font-size: 1.2rem;
}

#current_weather .weather > .conditions > p:nth-child(1) {
  font-weight: 400;
  font-size: 1rem;
}

#current_weather .weather > .conditions > p {
  font-weight: 400;
  font-size: 1.5rem;
}

#current_weather .weather p {
  font-size: 6em;
  font-weight: 300;
}

.div_form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.busqueda {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#miInput {
  font-size: 1.1rem;
  padding: 0.2em;
}

#miInput:focus {
  outline: none;
}

.daily_forecast {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.days {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 100%;

  gap: 1em;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* Para navegadores WebKit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    display: none;
  }
}

.ejemplos > button {
  padding: 0.6em;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.scroll_days {
  display: flex;
  height: 100%;
}

.button_left,
.button_right {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

#form_weather > button {
  display: none;
}

@media only screen and (max-width: 600px) {
  #info-weather {
    flex-direction: column;
  }

  #current_weather .location {
    font-size: 1.2rem;
  }

  #current_weather .temperature > img {
    width: 3em;
  }

  #current_weather .temperature > p {
    font-size: 3em;
  }

  #current_weather .weather .conditions p {
    font-size: 0.9em;
  }

  #current_weather .extra_conditions p {
    font-size: 0.9em;
  }

  .div_form {
    gap: 1em;
  }

  .div_form .busqueda {
    gap: 1em;
  }

  .daily_forecast {
    gap: 1em;
  }

  .days,
  .scroll_days {
    height: 100px;
  }

  #form_weather {
    width: 80%;
    display: flex;
    gap: 0.5em;
  }

  #form_weather > button {
    display: block;
    padding: 0.6em;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }

  #miInput {
    width: 100%;
  }
}
