* {
  color: white;
}

.alertas {
  flex: 1;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.hay_alertas {
  flex: 1;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2em;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
}

.alerta {
  background-color: rgb(255, 75, 75);
  border-radius: 10px;
  padding: 0.5em 1em;
  border: 1px solid rgb(155, 5, 5);
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  color: black;
}

.alerta span {
  color: rgb(155, 5, 5);
}

@media only screen and (max-width: 600px) {
  .weather_forecast {
    width: 100% !important;
  }

  .alertas {
    margin: 0;
  }

  .hay_alertas {
    margin: 0em;
  }
}
