/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

body,
html,
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #00307d, #00aeff);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column; /* Apila los elementos en columna */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

app-info-weather,
app-weather-forecast {
  flex: 1; /* Ambos ocupan el mismo espacio vertical */
  width: 100%; /* Ocupan todo el ancho */
  padding: 1em;
}

app-weather-forecast {
  display: flex;
  flex-direction: row; /* Distribuye los elementos en fila */
  gap: 1em; /* Espacio entre los elementos */
}

app-weather-forecast > * {
  flex: 1; /* Cada elemento ocupa la mitad del espacio */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Fondo para distinguir las secciones */
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  app-info-weather,
  app-weather-forecast {
    padding: 1em;
  }

  app-weather-forecast {
    flex-direction: column; /* En pantallas pequeñas, apila los elementos en columna */
  }

  app-weather-forecast > * {
    width: 100%; /* Ocupan todo el ancho cuando están en columna */
    flex: 1; /* Siguen ocupando el mismo espacio verticalmente */
  }
}
