/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html,
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #00307d, #00aeff);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

app-root {
  display: inline-block;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

app-info-weather {
  flex: 1;
  width: 100%;
  padding: 1em;
}

app-weather-forecast {
  flex: 1;
  width: 100%;
  padding: 1em;
  display: flex;
}

@media only screen and (max-width: 600px) {
  app-weather-forecast {
    flex-direction: column;
    gap: 1em;
  }
}
